<html>
    <head>
        <title>
            URI
        </title>
        <link rel = "stylesheet" href = '/css/home.css'  type = "text/css">
    </head>
    <body>
        <main>
            <form action="/short-url" method = 'post' id = "url-form" class="disFlex">
                <label for = 'url'>URL Shortner</label>
                <input type = 'url' name = 'url' placeholder='Enter your URL...' id = 'url' required>
                <input type = "submit" value = "Short" id = 'btn'>
            </form>
            <div  id = 'url-tracker'>
                <table>
                    <tr>
                        <th>Full URL</th>
                        <th>Short URL</th>
                        <th>Clicks</th>
                    </tr>
                    <% for(item of url){%>
                    <tr>
                        <td>
                            <a href = "<%= item.url%>"><%= item.url%></a>
                        </td>
                        <td><a href = "/u/<%= item.short_url%>"><%= item.short_url%></a></td>
                        <td><%= item.click %></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </main>

        <script src='/js/jquery-3.6.3.js'></script>
        <script src = '/js/script.js'></script>
    </body>
</html>